.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: #98514B;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.contact-form__content {
    color: #98514B;
}